**/node_modules
**/public/hot
**/public/storage
**/storage/*.key
**/vendor
**/stubs
**/.env
**/.env.backup
**/.phpunit.result.cache
**/Homestead.json
**/Homestead.yaml
**/npm-debug.log
**/yarn-error.log
**/dist
**/package-lock.json
**/composer.lock
**/.nuxt
Backend/.env
Frontend/.env
Frontend/nuxt.config.js